<div id="button-game" class="container text-center btn-bg">
    <img src="../../assets/image/btn-bg.png" alt="" class="btn-img">
    <a href="" routerLink="/easy" routerLinkActive="active">
        <img src="../../assets/image/easy-btn.png" id="easy" class="easy" alt="" >
    </a>
    <a href="" routerLink="/normal" routerLinkActive="active">
        <img src="../../assets/image/normal-btn.png" id="normal" class="normal" alt="">
    </a>
    <a href="" routerLink="/hard" routerLinkActive="active">
        <img src="../../assets/image/hard-btn.png" id="hard" class="hard" alt="">
    </a>
    <a href="" routerLink="/home" routerLinkActive="active">
        <img src="../../assets/image/home-btn.png" id="back" class="home" alt="">
    </a>
</div>
